<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido al Sistema de Referidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">
</head>

<body class="inicio-page">
    <header>
        <h1>Bienvenido al Sistema de Referidos</h1>
    </header>

    <main class="main-content">
        <nav class="nav-links">
            <a href="/referidos" class="nav-link">Ver Referidos</a>
            <a href="/registrar" class="nav-link">Hacer Registros</a>
            <a href="/actualizar" class="nav-link">Actualizar Referidos</a>
            <a href="/dashboard" class="nav-link">Ver Dashboard</a>
            <a href="/incentivos" class="nav-link">Registrar Incentivos</a>

        </nav>
    </main>
</body>

</html>